<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="chapter3/style.css">
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container container-fluid">
          <a class="navbar-brand me-5" style="font-weight:700;" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">WORK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTENT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT ME</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <section class="jumbotron position-relative d-flex align-items-center justify-content-center">
        <div class="">
            <div class="container text-center ">
                <h1 class="display-4 text-uppercase">play traditional game</h1>
                <p class="lead mt-4">Experience new traditional game play</p>
                <p class="lead mt-5">
                    <a href="/rock-paper-scissors" class="btn btn-warning" role="button">PLAY NOW</a>
                </p>
                <div class="story-down">
                    <a href="#">
                        <p>THE STORY</p>
                        <div class="icon"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="the-games" class="the-games">
      <div class="container">
      <h2 class="h4">What's so special?</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <h2 class="h1">THE GAMES</h2>
        </div>
        <div class="col-md-8">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="chapter3/assets/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="chapter3/assets/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="chapter3/assets/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="chapter3/assets/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section id="features" class="features text-white" style="background-color: salmon;">
      <div class="background-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
          </div>
          <div class="col-md-5">
            <h6>What's so special?</h6>
            <h2 class="h1">FEATURES</h2>
            <div class="position-relative">
              <ul>
                <li class="active">
                  <h4 class="text-warning">TRADITIONAL GAMES</h4>
                  <p>if you miss your childhood, we provide many traditional games here</p>
                </li>
                <li class="item">
                  <h4 class="text-warning">GAME SUIT</h4>
                </li>
                <li class="item">
                  <h4 class="text-warning">TBD</h4>
                </li>
              </ul>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </section>


    <section id="requirements" class="requirements">
      <div class="background-overlay"></div>
      <div class="container">
        <h6>Can My Computer Run this game?</h6>
        <div class="row">
          <div class="col-md-6">
            <h2 class="h1">SYSTEM REQUIREMENTS</h2>
            <div class="grid-container">
              <div class="grid-item item1">
                <h4 class="text-warning">OS:</h4>
                <p>Windows 7 64-bit only <br>(No OSZ support at this time)</p>
              </div>
              <div class="grid-item item2">
                <h4 class="text-warning">PROCESSOR</h4>
                <p>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8 GHZ</p>
              </div>
              <div class="grid-item item3">
                <h4 class="text-warning">MEMORY:</h4>
                <p>4 GB RAM</p>
              </div>
              <div class="grid-item item4">
                <h4 class="text-warning">STORAGE:</h4>
                <p>8 GB available space</p>
              </div>
              <div class="grid-item item5">  
                <h4 class="text-warning">GHRAPHICS:</h4>
                <p>NVIDIA GeForce GTX 660 2GB or <br> AMD Redeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                <span><svg viewBox="0 0 400 100" preserveAspectRatio="none">
                  <polyline points="0,100 60,100 68,96 120,96 128,100 394,100 400,96 400,0"
                        style="fill:none;stroke:rgba(128, 128, 128, 0.5);stroke-width:1" />
                </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="top-scores" class="top-scores" >
      <div class="background-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="h1">TOP SCORES</h2>
            <p>This top score from various games provided on this polatform</p>
            <div>
              <a href="#" class="btn btn-warning my-4">see more</a>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-2">
            <div class="grid-container">
              <div class="grid-item item1 mb-4">
                <div class="card bg-dark" style="max-width: 400px;">
                  <div class="card-body">
                    <div class="d-flex">
                      <div class="profil-image me-4 mb-4">
                        <img src="chapter3/assets/images/face1.jpg" alt="">
                        <div class="back-shadow bg-warning"></div>
                      </div>

                      <h4 class="card-title mt-3 text-warning">Evan Lathi<span class="h6 text-muted"><br/>PC Gamer</span></h4>
                      <a href="#" class="twitter-icon ms-auto mt-3"></a>
                    </div>
                    <p class="card-text">"One of my gaming highlights of the year."</p>
                    <div class="text-muted">
                      June 18, 2021
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-item item2 mb-4">
                <div class="card bg-dark" style="max-width: 400px;">
                  <div class="card-body">
                    <div class="d-flex">
                      <div class="profil-image me-4 mb-4">
                        <img src="chapter3/assets/images/face2.jpg" alt="">
                        <div class="back-shadow bg-warning"></div>
                      </div>

                      <h4 class="card-title mt-3 text-warning">Jada Grifin<span class="h6 text-muted"><br/>Nerdreator</span></h4>
                      <a href="#" class="twitter-icon ms-auto mt-3"></a>
                    </div>
                    <p class="card-text">"Then next big thing in the world of streaming and survival games."</p>
                    <div class="text-muted">
                      July 10, 2021
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-item item3">
                <div class="card bg-dark" style="max-width: 400px;">
                  <div class="card-body">
                    <div class="d-flex">
                      <div class="profil-image me-4 mb-4">
                        <img src="chapter3/assets/images/face3.jpg" alt="">
                        <div class="back-shadow bg-warning"></div>
                      </div>
                      <h4 class="card-title mt-3 text-warning">Aaron Williams<span class="h6 text-muted"><br/>Uproxx</span></h4>
                      <a href="#" class="twitter-icon ms-auto mt-3"></a>
                    </div>
                    <p class="card-text">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
                    <div class="text-muted">
                      December 24, 2018
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="newsletter" class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 skull">
            <img src="chapter3/assets/images/skull2.JPG" alt="">
          </div>
          <div class="col-lg-6">
            <h6>Want to stay in touch?</h6>
            <h2 class="h1">NEWSLETTER SUBSCRIBE</h2>
            <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam</p>
            <div class="mt-5">
              <form class="form-floating mb-3 mt-3 d-flex">
                <input type="text" class="form-control bg-dark text-warning" id="email" placeholder="youremail@binar.co.id" value="youremail@binar.co.id" name="email">
                <label for="email" class="email-label">Your email address</label>
                <button class="btn btn-warning w-50 p-2 ms-2" type="submit">Subscribe now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-8">
            <ul class="menus">
              <li>
                <a href="#">MAIN</a>
              </li>
              <li>
                <a href="#">ABOUT</a>
              </li>
              <li>
                <a href="#">GAME FEATURES</a>
              </li>
              <li>
                <a href="#">SYSTEM REQUIREMENTS</a>
              </li>
              <li>
                <a href="#">QUOTES</a>
              </li>
            </ul>
          </div>
          <div class="col-4">
            <div class="icons">
              <a href="#" class="ms-auto">
                <div class="icon facebook-icon"></div>
              </a>
              <a href="#">
                <div class="icon twitter-icon"></div>
              </a>
              <a href="#">
                <div class="icon youtube-icon"></div>
              </a>
              <a href="#">
                <div class="icon twitch-icon"></div>
              </a>
            </div>
          </div>
          <hr class="my-4">
          <div class="row px-0">
            <div class="col-4">
              <p class="text-muted copyright">&copy; 2018 Your Games, Inc. All Right Reserved</p>
            </div>
            <div class="col-8 pe-0">
              <ul class="terms">
                <li class="">
                  <a href="#">PRIVACY PILICY</a>
                </li>
                <li>
                  <a href="#">TERMS OF SERVICES</a>
                </li>
                <li>
                  <a href="#">CODE OF CONDUCTS</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
  </body>
</html>