<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title> <%= title %>  </title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="login.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin">
    <form method="post" action="/login">
        <h1 class="h3 mb-3 fw-normal">Please login</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username" placeholder="your username" required>
            <label for="username">Username</label>
        </div>
        <div class="form-floating mt-2 ">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <label for="password">Password</label> 
        </div>

        <% if (errorMessage !== '') { %>
            <span class="help-block text-danger"><%= errorMessage %></span>
        <% } %> 

        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Login</button>
    </form>

    <!-- For Development -->
    <div class="mt-5 text-muted">
        <p>
            username: player <br>  
            password: 1234
        </p>
    </div>
    </main>
    
  </body>
</html>
